@import url('./variable.css');


/* NAV */
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: 48px var(--white-space);
}

.nav__list{
    --gap: 32px;
    display: flex;
    align-items: center;
    gap: var(--gap);
}

.logo{
    margin-right: calc(20px + var(--gap));
}

.nav__link, .login button{
    color: var(--gray-500);
    font-weight: var(--font-bold) !important; 
}

.nav__ctas{
    display: flex;
    align-items: center;
    gap: 32px;
}


.signup button{
    color: var(--white);
    background-color: var(--blue-400);
    font-weight: var(--font-bold);
    padding: 14px 24px;
    border-radius: 30px;
}


/* HERO */
.hero{
    padding-block: 50px 66px;
    padding-left: var(--white-space);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 56px;
}

.hero__left h1{
    font-size: 86px;
    color: var(--purple-950);
    font-weight: var(--font-bold);
    letter-spacing: -3px;
}

.hero__left p{
    margin-top: 24px;
    font-size: 22px;
    line-height: 1.6;
    color: var(--gray-500);
    font-weight: var(--font-medium);
    max-width: 600px;
}

.hero__left button{
    margin-top: 36px;
    font-size: 22px;
    border-radius: 40px;
    padding: 20px 40px;
    color: var(--white);
    background-color: var(--blue-400);
    font-weight: var(--font-bold);
}

.hero__right{
    margin-right: -118px;
}

/* Shorten a link section */
.shorten-a-link{
    margin-top: 66px;
    padding: 0 var(--white-space) 40vh;
    background-color: var(--gray-300);
}

.shorten-form{
    --radius: 12px;
    background-image: url("/bg-shorten-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: var(--purple-950);
    padding: 50px 58px;
    display: flex;
    border-radius: var(--radius);
    gap: 24px;
    transform: translateY(-50%);
    position: relative;
}

.shorten-form input{
    flex: 2;
    border-radius: var(--radius);
    padding: 18px 24px;
    font-size: 20px;
    color: var(--gray-900);
    font-weight: var(--font-medium);
    /* width: 100%; */
}
.shorten-form input::placeholder{
    opacity: 1;
    color: var(--gray-500);
}

.shorten-form .error-input{
    border: 3.5px solid var(--error-500);
}


.shorten-form .error-input::placeholder{
    color: var(--error-400)
}

.shorten-form .error-text{
    color: var(--error-500);
    font-style: italic;
    font-weight: var(--font-medium);
    position: absolute;
    bottom: 25px
}


.shorten-form button{
    padding: 24px 36px;
    border-radius: var(--radius);
    background-color: var(--blue-400);
    color: var(--white);
    font-size: 20px;
    font-weight: var(--font-bold);
}

.shorten-link-list{
    margin-top: -60px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.url-container{
    background-color: var(--white);
    padding: 16px 26px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    border-radius: 6px;
    font-weight: var(--font-medium);
    font-size: 20px;
}
.original-url{
   color: var(--purple-950);
   max-width: 400px;
   overflow-wrap: break-word;
   word-break: break-all
}

.copy-url{
    display: flex;
    gap: 16px;
    align-items: center;
}

.copy-url span{
    color: var(--blue-400);
}

.copy-url button{
    padding: 18px 22px;
    border-radius: 8px;
    font-weight: var(--font-bold);
    background-color: var(--blue-400);
    color: var(--white);
    font-size: 16px;
}

.copy-url .copied-btn{
    background-color: var(--purple-950);
}