@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{

    /* COLOR PALETTE */
    --white: hsl(0, 0%, 100%);
    --blue-400: hsl(180, 66%, 49%);
    --purple-950: hsl(257, 27%, 26%);
    --red-400: hsl(0, 87%, 67%);
    --gray-300: hsl(0, 0%, 93%);
    --gray-400: hsl(0, 0%, 75%);
    --gray-500: hsl(257, 7%, 63%);
    --gray-900: hsl(255, 11%, 22%);
    --gray-950: hsl(260, 8%, 14%);

    --error-500: rgb(247, 125, 125);
    --error-400: rgb(252, 153, 153);


    /* FONT PROPERTIES */
    --font-primary: "Poppins", sans-serif;
    --font-medium: 500;
    --font-bold: 700;

    /* SPACING */
    --white-space: 180px;
}
